input:focus {
    outline: none;
    border: 1px solid black;
}

.form-box {
    display: none;
}

form {
    display: none;
    flex-direction: column;
    width: 50%;
}

input {
    margin-bottom: 5px;
}

.registration input.error {
    border: 1px solid red;
}

.registration input.success {
    border: 1px solid green;
}
